@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

body{
    font-size: 14pt;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"; 
}
a:link{
    text-decoration: none;
}
a:hover{
    color: #D9080B;
}
#mainContainer{
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 60px 260px 250px 180px;
    grid-gap: 5px;
    grid-template-areas: 
        "hd hd"
        "imgs main"
        "desc desc"
        "ft ft"
}
#header{
    grid-area: hd;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    font-family: Cinzel;
    text-shadow: 2px 2px 4px #aaaaaa;
}
#headerText{
    display:flex;
    flex-direction: column;
    max-height: 100%;
}
#headerText h1{
    margin: 0px 0px -15px;
    font-size: 1.2em;
}
#headerText h2{
    font-size: .7em;
    font-family: Cinzel;
}
#headerText h3{
    font-size: .5em;
    font-family: Cinzel;
}
#headerText p{
    font-size: .7em;
}
#mainImage{
    grid-area: main;
    display: flex;
    flex-direction: row;
    background-image: url("../images/blogMain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#mainImage img{
    max-width:100%;
}
#images{
    grid-area: imgs;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#description{
    grid-area: desc;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border: 1px solid #444444;    
}
#footer{
    grid-area: ft;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.footerRow{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.imagestrip{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
    height: 100%;
}
.imagestrip img{
    box-shadow: 1px 1px 5px 1px #000000;
    max-height: 55px;
}
.blogPara{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.blogPara p{
    padding: 0px 10px;
}
.blogParaImgL{
    float: left;
    max-width: 225px;
    max-height: 185px;
    width:auto;
    height: auto;
}
.blogParaImgR{
    float: right;
    max-width: 225px;
    max-height: 185px;
    width:auto;
    height: auto;
}
.aboutTheAuthor{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    font-size: .7em;
}
.aboutTheAuthor h1{
    margin: 0px;
    font-size: .9em;
    font-weight: bold;
}
.aboutTheAuthor p{
    margin: 2px 0px;
}
.socialMedia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 35px;
}
.socialMedia img{
    margin: 0px 25px;
    max-width: 15px;
    max-height: 15px;
    width: auto;
    height: auto;  
}
.linkDiv{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0px 25px;
    border: 1px solid #810002;
    border-radius: 25px;
    width: 110px;
    height: 10px;
    padding: 5px 5px;
    background-color: #ffffff;
    font-size: .8em;
    color: #810002;
}
.linkDiv:hover{
    background-color: #bbbbbb;
}
.linkDiv a:link{
    padding: 5px 15px;
    text-decoration: none;
    color: #810002;
}
.deadLink{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0px 25px;
    border: 1px solid #888888;
    border-radius: 10px;
    width: 110px;
    height: 10px;
    padding: 5px 5px;
    background-color: #ffffff;
    font-size: .8em;
    color: #888888;
}

@media(min-width:768px){
    #mainContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 75px 180px 100px 250px 140px;
        grid-template-areas: 
            "hd"
            "main"
            "imgs"
            "desc"
            "ft"
    }
    #header{
        grid-area: hd;
    }
    #header img{
        height: 115px;
    }
    #headerText p{
    font-size: 1em;
}
    #footer{
        grid-area: ft;
    }
    #images{
        grid-area: imgs;
        display: flex;
        flex-direction: row;
        justify-content: center;     
}
    #description{
        grid-area: desc;
        display: flex;
        flex-direction: column;
    }
    .imagestrip{
        display: flex;
        flex-flow: row nowrap;
        align-items:flex-end;
        justify-content:space-around;
        width: 100%;
}
.imagestrip img{
    border: 1px thin #ffffff;
    max-height: 130px;
    box-shadow: 2px 2px 5px 3px #444444;
}
.socialMedia p{
    margin: 0px 0px;
    }
}
