@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

body{
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
a:link{
    text-decoration: none;
}
a:hover{
    color: #D9080B;
}
#mainContainer{
    display: grid;
    grid-template-rows:60px 60px 1fr 30px;
    background-color: #ffffff;
}
#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Cinzel;
    padding-left: 20px;
    text-shadow: 2px 2px 4px #aaaaaa;
}
#header img{
    height: 60px;
    margin-right: 15px;
}
#headerText{
    display:flex;
    flex-direction: column;

}
#headerText h1{
    margin: 0px 0px -15px;
}
#headerText p{
    font-size: .8em;
}
#content{
    display: flex;
    flex-direction: column;
}
#footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    padding-left: 20px;
    background-color: #810002;
    color: #ffffff;
    font-size: .75em;
}
#sidebar{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}
.card{
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 120px;
    grid-template-rows: 35px 25px 1fr 40px;
    grid-template-areas: 
        "hd hd"
        "ca ca"
        "ct img"
        "ft ft";
    justify-content:space-between;
    background-color: #eeeeee;
    margin: 5px;
    padding: 0px 10px 0px 10px;
}
.card h1{
    font-family: Cinzel;
    font-size: 1.2em;
    height: .4em;
}
.card h2{
    font-family: Cinzel;
    font-size: .7em;
}
.card h3{
    font-family: Cinzel;
    font-size: .5em;
}
.cardHeader{
    grid-area: hd;
}
.cardAdded{
    display: flex;
    justify-content: flex-start;
    grid-area: ca;
    padding-left: 15px;
}
.cardContent{
    display: flex;
    flex-direction: column;
    grid-area: ct;
}
.cardImage{
    grid-area: img;
    margin: 0px 10px
}
.cardImage img{
    display: flex;
    align-content: flex-start;
    height: 120px;
    margin-top: 10px;
}
.cardFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    grid-area: ft;
    padding: 10px 0px 15px;
}
.linkDiv{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 15px;
    background-color: #ffffff;
    color: #810002;
    font-size: .9em;
    padding: 5px 5px;
    border: 1px solid #810002;
    border-radius: 25px;

}
.linkDiv:hover{
    background-color: #bbbbbb;
}
.linkDiv a:link{
    padding: 5px 15px;
    text-decoration: none;
    color: #810002;
}
.deadLink{
    display:flex;
    background-color: #ffffff;
    width: 120px;
    height: 15px;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    border: 1px solid #888888;
    border-radius: 25px;
    color: #888888;
    font-size: .9em;
}
.sidebarItems:hover{
    box-shadow: 1px 1px 3px 4px #cccccc inset;
}

@media(max-width:767px){
    .sidebarItems{
        height: 20px;
        border-right: 1px solid #444444;
        padding-right: 20px;
    }
}

@media(min-width:768px){
    #mainContainer{
        display:grid;
        grid-template-columns: 140px 1fr;
        grid-template-rows: 100px 1fr 40px;
        grid-template-areas: 
            "hd hd"
            "sd main"
            "ft ft";
      }
    #header{
        grid-area: hd;
    }
    #header img{
        height: 115px;
    }
    #headerText p{
    font-size: 1em;
}
    #sidebar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 5px;
    }
    #footer{
        grid-area: ft;
    }
    .sidebarItems{
        width: 110px;
        margin: 25px 0px 25px 0px;
        padding: 15px 10px; 15px 5px;
        border-bottom: 1px solid #444444;
    }
    
}
